In [1]:

df = pd.read_csv("Customer_Dataset.csv")

In [2]:
df.head()

   CustomerID  Gender  Age  Income (k$)  How Much They Spend
0           1    Male   19           15                   39
1           2    Male   21           15                   81
2           3  Female   20           16                    6
3           4  Female   23           16                   77
4           5  Female   31           17                   40