In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
server = 'T2131-17\SQLEXPRESS'
database = 'Practical_AI'
engine = create_engine('mssql+pyodbc://{}/{}?driver=SQL Server'.format(server,database))

In [5]:
connection = engine.connect()
cursor = connection.execute('SELECT * FROM orders')
df = pd.DataFrame(data = cursor.fetchall(),
                    columns = cursor.keys())
connection.close()

In [6]:
df.head()

   OrderDate   Region      Rep    Item Units Unit Cost   Total
0   6/1/2019     East    Jones  Pencil    95      1.99  189.05
1  23/1/2019  Central   Kivell  Binder    50     19.99   999.5
2   9/2/2019  Central  Jardine  Pencil    36      4.99  179.64
3  26/2/2019  Central     Gill     Pen    27     19.99  539.73
4  15/3/2019     West  Sorvino  Pencil    56      2.99  167.44

In [7]:
df.to_csv('final_orders.csv')

df.to_sql('final_orders', con=engine, if_exists='replace', index = False)

-1

In [8]:
df.dropna(inplace = True)
df = df.astype({'Units': int, 'Unit Cost': float, 'Total': float})

df['Tax'] = df['Total'].map(lambda x: x*0.12 if 0<x<=400
                                            else x*0.17 if 400<x<600
                                            else x*0.22)
df = df.assign(Profit=df['Total'] - df['Tax'])
df.drop(columns = ['Unit Cost', 'Total'],inplace = True)

In [9]:
df.head()

   OrderDate   Region      Rep    Item  Units       Tax    Profit
0   6/1/2019     East    Jones  Pencil     95   22.6860  166.3640
1  23/1/2019  Central   Kivell  Binder     50  219.8900  779.6100
2   9/2/2019  Central  Jardine  Pencil     36   21.5568  158.0832
3  26/2/2019  Central     Gill     Pen     27   91.7541  447.9759
4  15/3/2019     West  Sorvino  Pencil     56   20.0928  147.3472

In [10]:
df.to_csv('final_orders.csv')

df.to_sql('final_orders', con=engine, if_exists='replace', index = False)

-1