# **Housing Cost Regression**

Name: Muhammad Fitri Amir bin Abdullah

Admin Number: P2222811

Class: DAAA/FT/2A/06
<hr>

## Objective
> To build a regression machine learning model to predict the prices of housing.<br>

**How is the prediction task defined?**
> Given a dataset with prices of renovation across different US cities, the prediction task wants us to predict the price of houses based of the different properties of a house given to us such as number of toilets, rooms, floors as well as the sqm of the house. The output variable (or target feature) is Price, which is a continuous variable. Hence, this most likely requires a regression model.

## Importing Datasets/Libraries

In [3]:
#Importing the libraries and the dataset

# Basic libs
import numpy as np
import pandas as pd
from sklearn import datasets
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter


# Models
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso ,SGDRegressor ,ElasticNet ,BayesianRidge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, GradientBoostingRegressor, HistGradientBoostingRegressor
from sklearn.svm import LinearSVR ,SVR
from sklearn.kernel_ridge import KernelRidge
from sklearn.neighbors import KNeighborsRegressor

# Preprocessing
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import OrdinalEncoder, StandardScaler, MinMaxScaler, Normalizer
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import learning_curve, ShuffleSplit
from sklearn.model_selection import cross_validate
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve, auc, confusion_matrix, classification_report
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import RFE
from sklearn.feature_selection import RFECV

df = pd.read_csv('../ST1511 AIML-CA1-datasets/housing_dataset.csv')

## **Exploratory Data Analysis**

<font size = 5> 

**Initial Summary** 
<br>


<font size = 4>
From the initial data summary, we can see that there are no null values in the original data set given to us. There are 8 columns, 545 datapoints and there are 5 integer columns, 2 object columns and 1 float column. One of the integer columns, `Price`, is our target feature.<br>

As there are 2 object columns, I will consider using an encoder to change the data type before putting them into use.

In [6]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   House ID           545 non-null    int64
 1   City               545 non-null    object
 2   House Area (sqm)   545 non-null    float64
 3   No. of Bedrooms    545 non-null    int64
 4   No. of Toilets     545 non-null    int64
 5   Stories            545 non-null    int64
 6   Renovation Status  545 non-null    object
 7   Price ($)          545 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 34.2+ KB

,House ID,City,House Area (sqm),No. of Bedrooms,No. of Toilets,Stories,Renovation Status,Price ($)
0,0,Chicago,742.0,4,2,3,furnished,1330000
1,1,Denver,896.0,4,4,4,furnished,1225000
2,2,Chicago,996.0,3,2,2,semi-furnished,1225000
3,3,Seattle,750.0,4,2,2,furnished,1221500
4,4,New York,742.0,4,1,2,furnished,1141000

In [5]:
df.isnull().sum()

House ID             0
City                 0
House Area (sqm)     0
No. of Bedrooms      0
No. of Toilets       0
Stories              0
Renovation Status    0
Price ($)            0
dtype: int64